<div class="container">
  <form [formGroup]="certificateForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group col-md-6">
      <label htmlFor="name">Enter the name</label>
      <input type="text" placeholder="John Doe" formControlName="name" name="name" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is mandatory</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">
        Download Certificate
      </button>
    </div>
  </form>
</div>